.box_category {
    background-color: #74c043;
    padding: 30px 60px;
    min-height: 190px;
    max-height: 190px;
    border-radius: 10px;
    display: block;
}

.col_category a {
    margin-top: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 1.125;
    height:40px;
    line-height: 40px;
}
.icon {
    float: right;
    background-color: #74c043;
    font-size: 24px;
    border-left: 1px solid #cecece;
    color: #fff;
    height: 38px;
    line-height: 38px;
    padding: 8px 5px;
}
.label {
    line-height: 1;
    display: inline-block;
}
.color_seguridad {
    background-color: #fbbd0c;
}
.color_excelencia {
    background-color: #3ea9e0;
}
.color_pasion {
    background-color: #77b429;
}
.color_sostenibilidad {
    background-color: #77635a;
}
.color_identidad {
    background-color: #ed7a04;
}