@font-face {
  font-family: "GuardianSansBold";
  src: url("./assets/fonts/GuardianSansBold.eot");
  src: url("./assets/fonts/GuardianSansBold.eot") format("embedded-opentype"),
    url("./assets/fonts/GuardianSansBold.woff2") format("woff2"),
    url("./assets/fonts/GuardianSansBold.woff") format("woff"),
    url("./assets/fonts/GuardianSansBold.ttf") format("truetype"),
    url("./assets/fonts/GuardianSansBold.svg#GuardianSansBold") format("svg");
}
.guardianBold {
  font-family: "GuardianSansBold";
}
body {
  margin: 0;
  background: url("./assets/img/background-aunor.jpg") no-repeat top left fixed;
  background-size: cover;
}

.App {
  min-height: 100vh;
}

.page_video .section_content .flex {
  height: auto;
}
.loading {
  animation: rotate360 infinite 0.5s linear;
}
.color-green {
  color: #72bf43;
}
.color-orange {
  color: #f39c00;
}
.color-gray {
  color: #606060;
}
.btn_black {
  background: url("./assets/img/btn-black.png") no-repeat;
  color: #fff;
  background-size: 100% 100%;
}

.heartbeat:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.section_video .slick-slide {
  padding: 0 15px;
  box-sizing: border-box;
}
.section_video .slick-prev:before, .section_video .slick-next:before {
  font-size: 40px;
}
.section_video .slick-prev {
  left: -45px;
}
.section_video .slick-dots li button:before {
  opacity: 0.5;
  color: #fff;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 639px) {
}
